/*
 * mnml grid system (LESS version)
 *
 * @author Teemu Lahti <teemu.lahti@gmail.com>
 */
/**
 * Mixin for grid rows.
 * @param @width Width of the grid container element.
 * @param @gutter The amount of margin between columns
 */
/**
* Mixin for single grid columns
* @param @spanColumns The width of the column in grid units
* @param @totalColumns Total amount of columns in the grid
* @param @width Width of the grid container element.
* @param @gutter The amount of margin between columns
*/
html,
body {
  margin: 0;
}
div.container {
  width: 950px;
  background: url('../images/grid.png');
  overflow: hidden;
  margin: 0 auto;
}
div.responsive-container {
  width: 100%;
  overflow: hidden;
}
div.row {
  *zoom: 1;
  width: 101.05263157894737%;
  overflow: hidden;
}
div.row:before,
div.row:after {
  content: " ";
  /* 1 */

  display: table;
  /* 2 */

}
div.row:after {
  clear: both;
}
div.row div.column {
  width: 7.291666666666666%;
  margin-right: 1.0416666666666665%;
  float: left;
  overflow: hidden;
}
div.row div.column-6 {
  width: 48.958333333333336%;
  margin-right: 1.0416666666666665%;
  float: left;
  overflow: hidden;
}
div.row div.column-4 {
  width: 32.291666666666664%;
  margin-right: 1.0416666666666665%;
  float: left;
  overflow: hidden;
}
div.row div.column-3 {
  width: 23.958333333333332%;
  margin-right: 1.0416666666666665%;
  float: left;
  overflow: hidden;
}
div.row div.column-2 {
  width: 15.624999999999998%;
  margin-right: 1.0416666666666665%;
  float: left;
  overflow: hidden;
}
div.row div.inner-row {
  *zoom: 1;
  width: 102.10526315789474%;
  overflow: hidden;
}
div.row div.inner-row:before,
div.row div.inner-row:after {
  content: " ";
  /* 1 */

  display: table;
  /* 2 */

}
div.row div.inner-row:after {
  clear: both;
}
div.row div.inner-row div.inner-column {
  width: 31.271477663230236%;
  margin-right: 2.0618556701030926%;
  float: left;
  overflow: hidden;
}
div.row div.inner-row div.inner-column-2 {
  width: 64.60481099656357%;
  margin-right: 2.0618556701030926%;
  float: left;
  overflow: hidden;
}
